* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: white;
}

header {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

header span {
    background-color: #4A4A4A;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}